<article class="post card"> 
    <div class="card-header">
      <span class="card-title" style="font-size: 20px;color:green">{{title}}</span>
      <span class="card-title float-right" style="font-size: small";>Created by: {{user.username}} Posted on: {{format_date created_at}}</span>
    </div>
    <div class="card-body">
      <p class="card-text" style="font-size: 15px;">{{contents}}</p>
    </div>  
     
</article>