<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Techno-Blogger</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> --}}
</head>

<body>
    <div class="wrapper">
        <header>
            <nav>
                <h1>
                    <a href="/">Home</a>
                    {{#if loggedIn}}
                    <a href="/dashboard">Dashboard</a>
                    {{else}}
                    <a href="/login">Dashboard</a>
                    {{/if}}
                    {{#if loggedIn}}
                    <button id="logout" class="btn-no-style">Logout</button>
                    {{else}}
                    <a href="/login">Login</a>
                    {{/if}}
                    <a href="/" class="logo">Techno-Blogger</a>
                </h1>
            </nav>
        </header>
        <main>
            {{{ body }}}
        </main>
        <footer>
            Thanks for visiting!
        </footer>
    </div>
    {{#if loggedIn}}
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>