<section>
  <h3>Create New Post</h3>

  <form class="new-post-form">
    <div>
      <label for="post-title"><b>Title</b></label>
      <input type="text" id="post-title" name="post-title" />
    </div>
    <div>
      <label for="post-content"><b>Content</b></label>
      <textarea id="post-content" name="post-content"></textarea>
    </div>
    <button type="submit" class="button">Create</button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>