<div class="container">
    <h3 style="margin-bottom: 20px;">Login</h3>

    <form class="login-form">
        <div>
            <label for="email-login"><b>Username:</b></label>
            <input type="text" id="email-login" />
        </div>
        <div>
            <label for="password-login"><b>Password:</b></label>
            <input type="password" id="password-login" />
        </div>
        <div>
            <button type="submit" id="login-btn">Login</button>
            <a href="/signup"><button type="button" class="button">Sign up instead</button></a>
        </div>
    </form>
</div>

<script src="/javascript/login.js"></script>