<div class="container">
    <h3 style="margin-bottom: 20px;">Sign Up</h3>

    <form class="signup-form">
        <div>
            <label for="username-signup"><b>Username:</b></label>
            <input type="text" id="username-signup" />
        </div>
        <div>
            <label for="email-signup"><b>Email:</b></label>
            <input type="text" id="email-signup" />
        </div>
        <div>
            <label for="password-signup"><b>Password:</b></label>
            <input type="password" id="password-signup" />
        </div>
        <div>
            <button type="submit">Sign up</button>
            <a href="/login"><button type="button" class="button">Login instead</button></a>
        </div>
    </form>
</div>

<script src="/javascript/signup.js"></script>